
.categories {
    padding-bottom: 20px;
}

.categories .tag {
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    color: #aaa;
    font-weight: bold;
}

.categories .separator {
    margin-left: 10px;
}