.search .menu {
    width: 100%;
    background-color: #fff159;
    height: 70px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.search .menu .logo {
    background-image: url(../../assets/images/Logo_ML.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 90px;
    height: 50px;
    padding-right: 10px;
}

.search .menu .icon {
    position: relative;
    padding: 23px 18px 13px 18px;
    text-align: center;
    background-image: url(../../assets/images/ic_Search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5f4f4;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 0;
    cursor: pointer;
}
  
.search .menu .input-field {
    padding: 10px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 550px;
}

input:focus{
    outline: none;
}